.create-classifieds {
  margin-top: 18vh;
}

.container {
  text-align: center;
  padding: 30px;
  max-width: 30vw;
  border-radius: 15px;
  background-color: #ffffff;
}

.container .btn {
  width: 15vw;

  background-color: #fffde7;
  color: #8d8d8d;
}

label {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}
